@import "tailwindcss";

@theme {
  --color-egg: oklch(96.8% 0.0196 87.51);
  --color-cocoa: oklch(36.75% 0.0363 62.96);
  --color-charcoal: oklch(27.27% 0 0);
  --color-dahlia: oklch(59.67% 0.2151 29.71);
  --color-mango: oklch(88.78% 0.0414 34.76);
}

body {
  background: var(--color-egg);
  color: var(--color-charcoal);
}
